@import 'tailwindcss';
@import 'tw-animate-css';

@plugin '@tailwindcss/typography';

@theme {
  --font-meslo: 'MesloLGM Nerd Font', monospace;
}

@layer components {
  .image-rendering-pixelated {
    image-rendering: pixelated;
  }
}

@font-face {
  font-family: 'MesloLGM Nerd Font';
  src: url('/fonts/MesloLGMNerdFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MesloLGM Nerd Font';
  src: url('/fonts/MesloLGMNerdFont-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MesloLGM Nerd Font';
  src: url('/fonts/MesloLGMNerdFont-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'MesloLGM Nerd Font';
  src: url('/fonts/MesloLGMNerdFont-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

body,
code,
pre {
  @apply font-meslo;
}
